@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face{
    src: url(../fonts/bahnschrift.ttf);
    font-family: bahnschrift;
}

p {
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: bahnschrift;
    text-transform: uppercase;
}

body{
    text-rendering: optimizeLegibility;
}