/* CAROUSEL BASE CLIENTES */
#carousel-clientes {

    p,h5 {
        color: #969696;
    }

    .uk-dotnav>*>* {
        width: 20px;
        height: 20px;
    }

    .uk-dotnav>.uk-active>* {
        background-color: #515151;
    }

    ul.uk-slideshow-items {
        min-height: 488.063px;
        height: 488.063px;
    }

    @media (min-width: $breakpoint-large) {
        ul.uk-slideshow-items {
            min-height: 220px !important;
            height: 220px;
        }
    }
}

/* OWL CAROUSEL */
#descricao {
    .owl-carousel {
        padding-top: 70px;

        .owl-nav {
            font-family: bahnschrift;

            .owl-prev {
                border: 2px solid #969696;
                width: 45%;
                padding-top: 2px !important;
                padding-bottom: 2px !important;
            }

            .owl-next {
                border: 2px solid #969696;
                width: 45%;
                padding-top: 2px !important;
                padding-bottom: 2px !important;
            }
        }

        .owl-theme .owl-nav [class*='owl-'] {
            margin-left: 15px;
        }
    }


}