#coloracao {
    hr {
        width: 7%;
        border-bottom: 5px solid #808080;
        margin: auto;
    }

    p {
        color: #969696;
    }

    .block-text {
        margin-top: 60px;

        p {
            padding: 0px 0px 0px 0px;
            color: #969696;
        }
    }

    @media (min-width: $breakpoint-large) {
        p {
            padding-left: 170px;
            padding-right: 170px;
        }
    }
}

#amostragem-cores {
    background: #e1e2e2;

    hr{
        width: 7%;
        border-bottom: 5px solid #808080;
        margin: auto;
    }

    .block-colors{
        padding-top: 30px;
    }

    @media (min-width: $breakpoint-large) {
        .titanium-colors {
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-top: -141px;
        }

        .block-colors{
            padding-top: 50px;
        }
    }
}