#banner-topo-contato {

    .intro-text {
        h1 {
            color: $global-inverse-color;
        }

        hr {
            width: 30%;
            border-bottom: 5px solid #fff;
            margin: auto;
        }
    }
}

#contato {

    .uk-input,.uk-textarea,.uk-button {
        border: 2px solid #969696;
        font-family: bahnschrift;
    }

    #form-erro {
        color: red;
        font-weight: bold;
        font-family: bahnschrift;

        @media (max-width: $breakpoint-medium){
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    }

    #form-send {
        color: green;
        font-weight: bold;
        font-family: bahnschrift;

        @media (max-width: $breakpoint-medium){
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .dont-display {
        display: none;
    }

    .block-email,.block-tel {

        >p {
            font-family: bahnschrift;
            text-transform: uppercase;
            color: #969696;
        }
    }

    @media(max-width: $breakpoint-medium){
        .block-form{
            .btn-enviar{
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
            }
        }
    }

    .circle {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        background-color: #969696;


        >img {
            margin-top: 13px;
        }

        .icon-tel {
            margin-top: 10px;
        }

        @media (max-width: $breakpoint-medium) {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;

            p {
                margin-bottom: 0px;
            }
        }

        @media (min-width: $breakpoint-large) {
            margin-left: 150px;
            margin-top: 30px;
        }
    }

    @media(min-width: $breakpoint-large) {
        .block-email {
            padding: 5px;
            margin: -52px 0px 36px 108px;

            >p {
                padding: 5px;
                margin: -19px 0px 13px 96px;
            }

            >a {
                font-family: raleway;
            }
        }

        .block-tel {
            padding: 5px;
            margin: -67px 0px 0px -27px;

            >p {
                padding: 5px;
                margin-left: 232px;
            }

            >a {
                font-family: raleway;
            }
        }
    }
}

#perguntas-frequentes {
    hr {
        width: 7%;
        border-bottom: 5px solid #969696;
        margin: auto;
    }

    .block-accordion {
        padding-top: 10px;

        .uk-accordion-title {
            font-family: bahnschrift;
            text-transform: uppercase;
            font-size: $global-small-font-size;
            background: #D6D6D6;
            padding: 5px;
        }
    }
}