#diferencial-anabelle{
    background: #D6D6D6;

    hr{
        width: 7%;
        border-bottom: 5px solid #808080;
        margin: auto;
    }

    p{
        font-size: $global-small-font-size;
    }

    @media (min-width: $breakpoint-large) {
        p{
            padding: 15px 130px 15px 130px;
            font-size: $global-medium-font-size;
        }
    }
}