#seja-distribuidor {
    hr {
        width: 7%;
        border-bottom: 5px solid #808080;
        margin: auto;
    }

    p {
        color: $global-link-color;
    }
}

#banner-quem-clientes {
    h2 {
        color: $global-inverse-color;
        border: 5px solid;
        margin-right: 15px;
        margin-left: 15px;
    }

    p {
        color: $global-inverse-color;
        font-family: bahnschrift;
        font-size: $global-medium-font-size;
    }

    @media(min-width: $breakpoint-large) {
        h2 {
            padding: 10px 130px 10px 130px;
        }
    }
}

#intro-counter {
    hr {
        width: 7%;
        border-bottom: 5px solid #808080;
        margin: auto;
    }


    @media(min-width: $breakpoint-large) {
        p {
            padding-right: 80px;
            padding-left: 80px;
        }
    }

}

#banner-counter {

    .block-color,
    p {
        font-family: bahnschrift !important;
        color: $global-link-color;
    }

    .counter {
        font-size: 6.25em;
    }

    p {
        font-size: 25px;
    }

    .block-color {
        background-color: rgba(255, 255, 255, 0.8);
        margin-bottom: 30px;
        margin-top: 30px;
    }

    @media(min-width: $breakpoint-large) {
        .block-color {
            margin-bottom: 71px;
            margin-top: 75px;
            width: 370px;
            height: 291px;
        }

        .intro-counter {
            margin-bottom: -23px;
            padding-top: 41px;
        }

        .intro-state {
            margin-top: -50px;
        }
    }
}

#download-catalogo {
    background: #D4D4D4;

    hr {
        width: 7%;
        border-bottom: 5px solid #808080;
        margin: auto;
    }
}

#contato-distribuidor {

    hr {
        width: 7%;
        border-bottom: 5px solid #808080;
        margin: auto;
    }

    .uk-input,
    .uk-textarea,
    .uk-button {
        border: 2px solid #969696;
        font-family: bahnschrift;
        margin-top: 10px;
    }

    .dont-display {
        display: none;
    }

    @media (min-width: $breakpoint-large) {

        .block-form {

            .uk-input,
            .uk-textarea {
                margin-top: 30px;
            }

            .uk-button {
                margin-top: 27px;
                float: right;
            }

        }
    }

    @media (max-width: $breakpoint-medium) {
        .btn-enviar {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .block-form{
        #form-erro {
            color: red;
            font-weight: bold;
            font-family: bahnschrift;
            display: block;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        
        }
    
        #form-send {
            color: green;
            font-weight: bold;
            font-family: bahnschrift;
            display: block;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
    
    }
}