#footer-default {
    address, p, a{
        color: $global-inverse-color;
        font-family: bahnschrift;
    }

    ul {
        list-style: none;
        padding-left: 0px;
        
        >li{
            margin-top: 8px;
        }
    }

    h5{
        color: $global-inverse-color;
        font-size: $global-large-font-size;
    }

    .navigation-footer{
        text-transform: uppercase;
        font-size: $global-medium-font-size; 
    }

    .address-block, .navigation-footer{
        padding-top: 30px;
    }

    .uk-background-cover{
        background-size: cover;
        height: 100%;
    }

    @media (min-width: $breakpoint-large){
        .address-block, .navigation-footer{
            padding-top: 130px;
        }

        .navigation-footer{
            margin-left: 150px;
        }

        .uk-background-cover{
            height: 500px;
        }
    }
}