.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #fff;
}

.uk-navbar {
    height: 125px;


    li>a{
        font-family: bahnschrift;
        font-size: 18px;
        color: $global-emphasis-color;
    }

    @media (min-width: $breakpoint-large) {
        height: 125px;

        .uk-logo{
            padding-bottom: 19px;
        }
    }

    @media (max-width: $breakpoint-medium){
        .uk-logo{
            margin-left: -7px;
            width: 95%;
        }
    }
}

.uk-offcanvas-bar{
    background: #969696;

    .uk-nav-primary{
        li>a{
            font-family: bahnschrift;
            color: #fff;
        }

        svg{
            width: 35px; height: 35px;
        }

        .uk-icon{
            margin: 10px;
        }
        
    }

    .uk-dropdown{
        background: #969696;
    }
}
