#banner-topo{
    .intro-text{
        text-align: center;

        h1{
            text-transform: uppercase;
            color: $global-inverse-color;
        }
    
        p, .uk-button{
            font-family: bahnschrift;
            color: $global-inverse-color;
            font-size: $global-large-font-size;
        }

        .uk-button-default{
            border: 3px solid;
        }
        
    }
   
}


/* PRODUTOS PÁGINA INTERNA */
#banner-topo-produtos{
    
    .intro-text{
        h1, p{
            color: #fff;
            font-family: bahnschrift;
        }

        p{
            color: $global-inverse-color;
            font-size: $global-large-font-size;
        }

        hr{
            width: 7%;
            border-bottom: 5px solid #fff;
            margin: auto;
        }
    }
}

/* COLORAÇÃO */
#banner-topo-colors{
    .intro-text{
        text-align: center;

        h1{
            text-transform: uppercase;
            color: $global-inverse-color;
        }
    
        p, .uk-button{
            font-family: bahnschrift;
            color: $global-inverse-color;
            font-size: $global-large-font-size;
        }

        .uk-button-default{
            border: 3px solid;
        }
        
    }
}

/* BANNER SEJA DISTRIBUIDOR */
#banner-topo-distribuicao{
    .intro-text{
        text-align: center;

        h1{
            text-transform: uppercase;
            color: $global-inverse-color;
        }
    
        p, .uk-button{
            font-family: bahnschrift;
            color: $global-inverse-color;
            font-size: $global-large-font-size;
        }

        .uk-button-default{
            border: 3px solid;
            padding: 7px;
        }
        
    }
} 