// 1. Variaveis Personalizadas
$global-link-color: #808080;
$global-emphasis-color:#808080;

// 2. Import Variaveis Padrão
@import "scss/variables-theme.scss";
@import "scss/mixins-theme.scss";

// 3. Mixin Personalizado
@mixin hook-card() { color: #000; }

// 4. Imports.
@import "scss/uikit-theme.scss";
@import "header";
@import "footer";
@import "base";
@import "image";
@import "quem-somos";
@import "diferencial";
@import "produtos";
@import "carousel";
@import "coloracao";
@import "contato";
@import "distribuidor";