/* PRODUTOS HOME */

#produtos-profissionais {
    background: #D6D6D6;

    hr {
        width: 7%;
        border-bottom: 5px solid #808080;
        margin: auto;
    }

    .banner {
        .banner-text {
            width: 50%;
            border: 5px solid #fff;

            h2 {
                color: #fff;
                padding-top: 20px;
                padding-bottom: 2px;
            }
        }
    }
}


/* CATEGORIA PRODUTOS */

#categoria-produto {
    .uk-card-default {
        background: #D6D6D6;
    }

    hr {
        width: 10%;
        border-bottom: 5px solid #808080;
        margin: auto;
    }

    @media (min-width: $breakpoint-large){
        .uk-text-position{
            margin-top: 30px;
            padding: 50px;
        }
    }
}

/* PRODUTOS INTERNOS */

#produtos {
    .uk-button {
        font-family: bahnschrift;
    }

    svg {
        margin-left: 5px;
    }

    .block-products {
        margin-top: 80px;
        font-family:bahnschrift;
        text-transform: uppercase;
    }

    .uk-dropdown,
    .uk-pagination {
        font-family: bahnschrift;
        text-transform: uppercase;
    }

    .border-pagination {
        border: 2px solid #808080;
        padding-right: 20px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    li {
        padding-top: 7px;
    }
}


/* PAGINA PRODUTO INTERNO */

#descricao {
    hr{
        border-bottom: 5px solid #808080;
    }

    .uk-button-default, .uk-select {
        font-family: bahnschrift;
    }


    p {
        color: #969696;
        text-align: justify;
        font-size: $global-small-font-size;
    }

    .block-produtos-footer{
        margin-top: 30px;
        text-transform: uppercase;

        h5{
            border: 2px solid #969696;
            padding: 10px;
        }

        hr{
            width: 10%;
            border-bottom: 5px solid #808080;
            margin: auto;
        }

        h2{
            margin-top: 60px;
        }
    }

    @media (min-width: $breakpoint-large){
        .description-product{
            margin-top: 60px;
        }
    }

    @media(max-width: $breakpoint-medium){
        .description-product, .block-produtos-footer{
            padding: 15px;
        }
    }
}

