#quem-somos {
    hr {
        width: 7%;
        border-bottom: 5px solid #808080;
        margin: auto;
    }

    p {
        font-size: $global-small-font-size;
    }

    .uk-card{
        margin-top: 30px;
    }

    .block-text {
        p {
            font-size: $global-small-font-size;
            padding: 0px 5px 0px 5px;
        }
    }

    @media (min-width: $breakpoint-large) {
        p {
            padding: 0px 50px 0 50px;
            font-size: $global-medium-font-size;
        }
    }
}